/* *{
    background-color: rgb(17, 17, 17);
} */

.bg{
    background:linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    
    
}

.display-flex{
    display: flex;
}
.nav-title{
   display: flex;
   justify-content: space-between;
   margin: 50px 190px 50px 150px ; 
   align-items: center;
   
}
.font{
    font-family: Inter;
}
.nav-name{
    color: rgb(230, 83, 60);
}

.nav-item1{
    border: 2px solid rebeccapurple;
    /* margin: 12px; */
    background: rgb(230, 83, 60);
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    border-radius: 40px;
}
.nav-links{

    display: flex;
    gap: 40px;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    align-items: center;
    padding: 1px;
    border-radius: 40px;
    padding-right: 5px;
    
}
.nav-link{
    text-decoration: none;
    font-family: Inter;
    color: rgb(255, 255, 255);
    
}

.join{
    display: flex;
    margin: 50px 190px 50px 150px ; 
    justify-content: space-between;
    
}

.join-title{
    font-family: Inter;
    font-size: 5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

#shape{
    font-family: Dancing Script;
}
#join-description{
   
    font-family: Inter;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}


.btn-primary{
    padding:  16px 40px 16px 40px;
    background: rgb(230, 83, 60);
    border-radius: 2.625rem;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    border: none;
}

.download{
    padding:  16px 40px 16px 40px;
    border-radius: 2.625rem;
    border: 1px solid rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-radius: 2.625rem;

}
.join-btn{
    display: flex;
    gap: 15px;
}

.video{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    border: 1px solid rgba(197, 23, 23, 0.1);
    padding: 0px 10px 0px 10px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    margin-top: -180px;
    margin-left: -50px;
    
}
.video-1{
    color: rgb(250, 250, 249);
font-family: Inter;
font-size: 24px;
font-weight: 900;
}
.video-1p{
    color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 16px;
font-weight: 400;
}
.circledot{
    width: 40px;
    height: 40px;
    /* border: 2px solid seagreen; */
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}

.video-2{
    width: 50%;
    
    padding: 0px 10px 0px 10px;
    justify-items: center;
    margin-left: 220px;
    margin-top: -400px;
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 12px;
    padding-top: 2px;
    padding-bottom: 2px;

}


